/*Configurações comuns a todo o corpo do quiz*/
body{
    margin: 0;
    padding: 0;
    background-image: url(imagens/fundo.png);
    font-family: 'Prata', serif;
}

.container{
    max-width: 830px;
    margin: auto;
}

/*Personalização da barra*/
::-webkit-scrollbar{
    width: 15px;
    background-color: #F0D0C1;
}

::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: #D7897E;
}

/*Cabeçalho*/
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

/*Geral*/
.contpag{
    max-width: 1000px;
    margin: auto;
}

