/*Configurações comuns a todo o corpo da página*/
body{
    margin: 0;
    padding: 0;
    background-image: url(imagens/fundo.png);
    font-family: 'Prata', serif;
}

.container{
    max-width: 830px;
    margin: auto;
}

/*Personalização da barra*/
::-webkit-scrollbar{
    width: 15px;
    background-color: #F0D0C1;
}

::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: #D7897E;
}

/*Cabeçalho*/
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

/*Geral*/
.contpag{
    max-width: 1000px;
    margin: auto;
}

/*Footer*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

footer{
    width: 100%;
    color: #f5f5f5;
    margin-top: 50px;
}

footer p, h3, a{
    font-family: 'Prata', serif;
}

footer p, h3{
    color: #EDE4DF;
}

.redes{
    margin-top: -20px;
}

.footer-link{
    text-decoration: none;  
}

#footer_content{
    background-color: #CC8C82;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 3.5rem;
    opacity: 0.8;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #e5dad1;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.5rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.3;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#x{
    background-color: #000000;
}

#youtube{
    background-color: #ff0000 ;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #a74c3e;
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #EEB182;
}

.footer-list p{
    color: #a74c3e;
    transition: all 0.4s;
}

.footer-list p:hover{
    color: #EEB182;
}
