/*Configurações comuns a todo o corpo da página*/
body{
    margin: 0;
    padding: 0;
    background-image: url(imagens/fundo.png);
    font-family: 'Prata', serif;
}

.container{
    max-width: 830px;
    margin: auto;
}

/*Personalização da barra*/
::-webkit-scrollbar{
    width: 15px;
    background-color: #F0D0C1;
}

::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: #D7897E;
}

/*Cabeçalho*/
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

/*Geral*/
.contpag{
    max-width: 1000px;
    margin: auto;
}

/*Página inicial*/
.titulo{
    text-align: center;
    margin-top: 35px;
    margin-bottom: -15px;
    font-family: 'Prata', serif;
    color: #BF5B4B;
    font-size: 30px;
}

.secao-1{
    margin-top: 75px;
    display: flex;
    margin-top: 100px;
   }

   .texto-apresentacao h2{
    font-family: 'Prata', serif;
    font-size: 35px;
    color: #B26150;
    margin-left: 55px;
    margin-right: 150px;
    margin-top: 100px;
   }

   .texto-apresentacao p{
    font-family: 'Josefin Sans', sans-serif;
    color:#A26F67 ;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 60px;
   }

   /*Botões*/
   .botao{
    margin-top: 50px;
    margin-left: 165px;
    background-color: #B26150;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    position: static;
    text-align: justify;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 10px 5px 5px #573731;
    transition: all 0.4s ease;
    }

    .botao a{
        color: #ffff;
        text-decoration: none;
        transition: 0.3s;
    }

    .botao a:hover{
        color: #F8F3E8;
        margin-left: 20px;
        padding-right: 15px;
    }

    .botao:hover{
        background-color: #CC8C82;
    }

    .comprar{
        background-color: #CC8C82;
        font-family: 'Prata', serif;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: justify;
        border-radius: 50px;
        border: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: #f2edea;
        box-shadow: 10px 5px 5px #573731;
        transition: all 0.4s ease;
        display: flex;
        margin-left: 575px;
        margin-top: 20px;
    }

    .comprar:hover{
        background-color: #f2edea;
    }

    .comprar:hover{
        color: #CC8C82;
    }

    /*Página de itens*/
    .card{
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 80px;
        width: 100px;
        height: 100px;
        margin-left: 180px;
    }

    .card input{
        width: 200px;
        height: 35px;
        background-color: #EDE4DF;
        font-family: 'Josefin Sans', sans-serif;
        border: 0,2px;
        font-size: 15px;
    }

    .card p{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    /*Cards*/
.secao4{
    height: auto;
    width: 100%;
}
.secao4-div{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    margin: auto;
    align-items: stretch;
    padding: 10px;
    text-align: center;
}
.secao4-div h3{
    padding: 10px 0px 0px 0px !important;
}
.secao4-div img{
    width: 40%;
    height: auto;
}
.secao4-div-1, .secao4-div-2, .secao4-div-3{
    display: flex;
    width: calc(100% / 3 - 60px);
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgb(0 0 0 / 10%);
    border-radius: 15px;
    background-color: #F4E8E2;
    transition: all .5s ease;
    z-index: 0;
    justify-content: center;
    margin-left: 40px;
}
.secao4-div-1:hover, .secao4-div-2:hover, .secao4-div-3:hover{
    transform: scale(1.1);
    z-index: 1;
}

.secao4-div input{
    background-color: #EDE4DF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 8px;
    width: 175px;
    text-align: center;
    border: none;
}

.secao4-div p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

.secao4-div-1{
    height: 375px;
}

.secao4-div img{
    width: 175px;
}

/*Footer*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

footer{
    width: 100%;
    color: #f5f5f5;
    margin-top: 50px;
}

footer p, h3, a{
    font-family: 'Prata', serif;
}

footer p, h3{
    color: #f2edea;
}

.redes{
    margin-top: -20px;
}

.footer-link{
    text-decoration: none;  
}

#footer_content{
    background-color: #CC8C82;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 3.5rem;
    opacity: 0.8;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.5rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.3;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#x{
    background-color: #000000;
}

#youtube{
    background-color: #ff0000 ;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #a74c3e;
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #EEB182;
}

.footer-list p{
    color: #a74c3e;
    transition: all 0.4s;
}

.footer-list p:hover{
    color: #EEB182;
}
