body{
    width: 80%;
    font-size: 20px;
    margin: auto;
}
table{
    width: 100%;
    border: 1px solid #cccc;
}

table th{
    background-color: #cccc;
    font-size: 25px;
}
table td{
    text-align: center;
}

input[type=text]{
    width: 98%;
}

input[type=submit]{
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

.confirmacao{
    width: 400px;
    margin: auto;
    margin-top: 25px;
    border: 2px solid gray ;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 30px;
    background-color: #cccccc;
}